In [7]:
from bs4 import BeautifulSoup
import requests

import pandas as pd

import re

In [8]:
url_coches = "https://www.ocasionplus.com/coches-ocasion?type%3DCAR%26sort%3DFECHAOP_DESC%26page%3D2"

respuesta_coches = requests.get(url_coches)

if respuesta_coches.status_code != 200:
    print(f"Error. El motivo es {respuesta_coches.reason}")
else:
    print(f"La respuesta es {respuesta_coches.status_code}")

La respuesta es 200

In [9]:
sopa_coches = BeautifulSoup (respuesta_coches.content, "html.parser")

In [56]:
lista_nombre_coche = sopa_coches.find_all("h2", {"style" : "overflow-x:hidden"})
lista_nombre_coche

[<h2 style="overflow-x:hidden">Volkswagen Golf 1.6 FSI Sportline (115CV)</h2>,
 <h2 style="overflow-x:hidden">Toyota Auris 1.6 VVT-I Advance  (132 CV)</h2>,
 <h2 style="overflow-x:hidden">Nissan Primastar 2.0 dCi L2H1 Go  (110 CV)</h2>,
 <h2 style="overflow-x:hidden">SEAT Leon 1.6 TDI S&amp;S Style DSG (115 CV)</h2>,
 <h2 style="overflow-x:hidden">Renault Megane Sport Tourer Bose Blue dCi (115 CV)</h2>,
 <h2 style="overflow-x:hidden">Hyundai ix35 1.6 GDi Klass 4x2 (135 CV)</h2>,
 <h2 style="overflow-x:hidden">Nissan Juke 1.6 DIG-T Tekna Xtronic (190 CV)</h2>,
 <h2 style="overflow-x:hidden">Peugeot 5008 1.6 HDI Allure FAP 7 Plazas (115 CV)</h2>,
 <h2 style="overflow-x:hidden">BMW Serie 1 118i (136 CV) PACK M</h2>,
 <h2 style="overflow-x:hidden">MINI MINI Countryman One D (116 CV)</h2>,
 <h2 style="overflow-x:hidden">Renault Megane Limited Blue dCi (115 CV)</h2>,
 <h2 style="overflow-x:hidden">Mercedes-Benz Clase GLA Clase GLA 200 Style (156 CV)</h2>,
 <h2 style="overflow-x:hidden">SEAT Leon ST 1.2 TSI S&amp;S Reference (110 CV)</h2>,
 <h2 style="overflow-x:hidden">Citroen C4 Picasso 1.6 HDi 115cv Seduction</h2>,
 <h2 style="overflow-x:hidden">Renault Captur Zen Energy dCi (90 CV) Ecoleader</h2>,
 <h2 style="overflow-x:hidden">Subaru Impreza 1.6 GLP Executive AWD CVT Lineartronic (114 CV)</h2>,
 <h2 style="overflow-x:hidden">Fiat 500L Pop Star 1.4 16v (95CV)</h2>,
 <h2 style="overflow-x:hidden">Dacia Logan MCV Laureate TCE (90 CV)</h2>,
 <h2 style="overflow-x:hidden">Citroen C5 Aircross BlueHdi 130 S&amp;S Shine (131 CV)</h2>,
 <h2 style="overflow-x:hidden">Peugeot Rifter BlueHDi 130 Standard EAT8 (130 CV) GT Line</h2>]

In [15]:
lista_nombre_coche = sopa_coches.find_all("h2", {"style" : "overflow-x:hidden"})

lista_nombres = [coche.text for coche in lista_nombre_coche]

lista_nombres

['Volkswagen Golf 1.6 FSI Sportline (115CV)',
 'Toyota Auris 1.6 VVT-I Advance  (132 CV)',
 'Nissan Primastar 2.0 dCi L2H1 Go  (110 CV)',
 'SEAT Leon 1.6 TDI S&S Style DSG (115 CV)',
 'Renault Megane Sport Tourer Bose Blue dCi (115 CV)',
 'Hyundai ix35 1.6 GDi Klass 4x2 (135 CV)',
 'Nissan Juke 1.6 DIG-T Tekna Xtronic (190 CV)',
 'Peugeot 5008 1.6 HDI Allure FAP 7 Plazas (115 CV)',
 'BMW Serie 1 118i (136 CV) PACK M',
 'MINI MINI Countryman One D (116 CV)',
 'Renault Megane Limited Blue dCi (115 CV)',
 'Mercedes-Benz Clase GLA Clase GLA 200 Style (156 CV)',
 'SEAT Leon ST 1.2 TSI S&S Reference (110 CV)',
 'Citroen C4 Picasso 1.6 HDi 115cv Seduction',
 'Renault Captur Zen Energy dCi (90 CV) Ecoleader',
 'Subaru Impreza 1.6 GLP Executive AWD CVT Lineartronic (114 CV)',
 'Fiat 500L Pop Star 1.4 16v (95CV)',
 'Dacia Logan MCV Laureate TCE (90 CV)',
 'Citroen C5 Aircross BlueHdi 130 S&S Shine (131 CV)',
 'Peugeot Rifter BlueHDi 130 Standard EAT8 (130 CV) GT Line']

In [19]:
lista_precio_rebajado_coche = sopa_coches.find_all("span", {"class" : "jsx-2689423372 price"})

lista_precios_rebajados = [precio.text for precio in lista_precio_rebajado_coche]

lista_precios_rebajados

['6.550€',
 '8.990€',
 '27.136€',
 '15.636€',
 '16.172€',
 '10.990€',
 '15.363€',
 '7.990€',
 '18.636€',
 '16.500€',
 '12.454€',
 '19.850€',
 '11.809€',
 '13.490€',
 '10.900€',
 '14.409€',
 '11.627€',
 '9.000€',
 '16.900€',
 '21.354€']

In [54]:
lista_precio_original_coche = sopa_coches.find_all("span", {"class" : "jsx-2870186023 priceLast"})

lista_precios_originales = [precioO.text for precioO in lista_precio_original_coche]

print(len(lista_precios_originales))
lista_precios_originales

14

['29.850€',
 '17.200€',
 '17.790€',
 '16.900€',
 '20.500€',
 '18.150€',
 '13.700€',
 '12.990€',
 '11.990€',
 '15.850€',
 '12.790€',
 '9.900€',
 '18.590€',
 '23.490€']

In [40]:
lista_km_recorridos_coche = sopa_coches.find_all("span", {"class" : "jsx-3960002075 detail big"})
lista_km_recorridos = [km.text for km in lista_km_recorridos_coche]
lista_km_recorridos [:10]

['04/2004',
 '87.433 km',
 'Gasolina',
 'Manual',
 'Libro Mantenimiento',
 '11/2009',
 '130.802 km',
 'Gasolina',
 'Manual',
 'Libro Mantenimiento']

In [57]:
lista_km_recorridos_final = []

for elemento in lista_km_recorridos:
    
    if "km" in elemento:
        lista_km_recorridos_final.append(elemento)

lista_km_recorridos_final

['87.433 km',
 '130.802 km',
 '7.467 km',
 '25.529 km',
 '79.919 km',
 '142.408 km',
 '53.047 km',
 '180.406 km',
 '85.209 km',
 '101.087 km',
 '79.055 km',
 '123.597 km',
 '105.227 km',
 '29.527 km',
 '129.342 km',
 '123.478 km',
 '23.210 km',
 '53.594 km',
 '81.203 km',
 '91.499 km']